* {
    padding: 0;
    margin: 0;
}

/* Heading */

.main-heading {
    height: 140px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #c5e2ff;
}

.logo {
    padding-left: 0;
    padding-right: 0;
}

.logo img {
    height: 130px;
    width: 130px;
    margin: 5px;
    border-radius: 15px;
}

.title {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 0;
}

.title h1 {
    font-size: 250%;
}

.title h4 {
    font-size: 70%;
}










/* 
@media screen and (max-width:767px) {
    .title {
        padding-left: 0;
        padding-right: 0;
    }
} */

/* Styling header for mobile view */

@media screen and (max-width:575px) {
    .main-heading {
        height: 100px;
        background-color: #c5e2ff;
    }

    .logo {
        padding-left: 0;
        padding-right: 0;
        margin-right: 5px;
    }

    .logo img {
        height: 90px;
        width: 90px;
        margin: 5px;
        border-radius: 15px;
    }

    .title {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 0;
    }

    .title h1 {
        font-size: 100%;
    }

    .title h4 {
        font-size: 50%;
    }
}