* {
    padding: 0;
    margin: 0;
}

/* Heading */

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c9c9c9;
}

.navbar-container {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav a{
    font-family: 'Merriweather', serif;
    font-weight: 500;
    margin-right: 8px;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    border-bottom-color: #fefefc;
}

#navbar-logo {
    margin-right: 10px;
}

#navbar-logo img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

#navbar-title {
    margin-right: auto;
}

#navbar-title h1 {
    font-size: 1.3rem;
    font-weight: 500;
    /* add media query to make font size larger when above 425px */
}

#navbar-title h4 {
    font-size: 0.7rem;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: 300;
}

#navbar-title h1,
#navbar-title h4 {
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
}

/* Navbar Toggler */

.nav-link {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.navbar-collapse {
    flex-grow: 0;
}